#logo{
    background-image: linear-gradient(to right,deepskyblue,red);
    text-align: center;
    border-style: solid ;
    border-width: thin;
    margin: 0;
    padding: 0;
}

#logoheading{
    text-align: center;
    font-size: 3vw;
    font-family: 'Covered By Your Grace', cursive;
    display: inline;
    vertical-align: middle;
}

#logoimage{
    vertical-align: middle;
}

/* .navigation-item{
    display: inline-block;
    border-style: solid ;
    border-width: thin;
    width: 33%;
}

#navigation-list{
    border-style: solid;
    border-width: thin;
    text-align: center;
    margin-top: auto;
} */